.headerWrap {
    width: 100%;
    height: 15vw;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLeftText {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.notiImg {
    height: 6vw;
    cursor: pointer;
}

.notifyArea {
    position: absolute;
    top: 7vw;
    right: 0;
    width: 80vw;
    height: 0vw;
    visibility: hidden;
    opacity: 0;
    /*height: 60vw;*/
    overflow-y: scroll;
    z-index: 3;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #D7E0E6;
    padding: 2vw;
    transition: 0.5s;
}
.notifyAreaItem {
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-bottom: 4vw;
    cursor: pointer;
    padding: 2vw 2vw;

}


.notifyAreaItem:last-child {
    margin-bottom: 0;
}

.notifyAreaItemLeft {

}

.notifyAreaItemLeftImg {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.notifyAreaItemLeftImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.notifyAreaItemRight {
    font-size: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.notNotify {
    padding: 3vw;
    text-align: center;
    color: black;
}
.notifyLength {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: red;
    top: 2vw;
    right: -2vw;
    border-radius: 50%;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vw;
}

.dateSpan {
    font-size: 2.5vw;
    color: #7d7676;
}

.checkImg {
    height: 3vw;
    margin-left: 2vw;
}

.notifyAreaItemRightParam {
    width: 80%;
}